.first{
    color: green;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second{
    color:red;
    font-size: 20px;
    font-family: fantasy;
}
.third{
    color:violet;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.colortext{
    color: yellow;
}
.layer1 {
  position: relative;;
  left: 30px;
   }
   .layer2 {
    position: relative;;
    left: 15px;
     }
       .ordinary { /* Абзац с классом cite */
        color: navy; /* Цвет текста */
        margin-left: 20px; /* Отступ слева */
        border-left: 1px solid navy; /* Граница слева от текста */
        padding-left: 15px; /* Расстояние от линии до текста */
       } 